global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'resumatch'
    static_configs:
      - targets: ['resumatch:8000']

  - job_name: 'system'
    static_configs:
      - targets: ['node_exporter:9100']